body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    margin: 0;
    font-family: sans-serif;
  }
  .header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    color: aquamarine;
    padding: 1rem;
  }
  .drums{
    width: 200px;
    height: auto;
    display:flex;
    justify-content: center;
    align-self: center;
  }

  .drum-kit {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    border: 0.4rem solid #fff;
    border-radius: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: all 0.07s ease;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .key:active, .key.playing {
    transform: scale(1.1);
    background-color: #ffeb3b;
    border-color: #ffeb3b;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  